.header-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(146, 199, 255), rgb(196, 113, 241));
  height: 200px;
  font-family: "Grenze", "Oswald", serif, sans-serif;
  border-bottom: 3px solid #084fc7;
}

.logo-container {
  margin-left: 5%;
}

.logo-pic {
  height: 200px;
  width: 250px;
  border-right: 3px solid #084fc7;
  border-left: 3px solid #084fc7;
  border-top: 3px solid #084fc7;
  /* border-bottom: 3px solid #fff; */
}

.header-button-container {
  margin-right: 5%;
  margin-top: 64px;
}

.create-button {
  width: 150px;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #084fc7;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.wrapper {
  margin-top: 8%;
  margin-bottom: 8%;
  background: linear-gradient(to left, rgb(146, 199, 255), rgb(196, 113, 241));
  width: 100%;
  height: 300px;
  border-top: 3px solid #084fc7;
  border-bottom: 3px solid #084fc7;
  position: relative;
}

.empty-container-text {
  font-family: "Grenze", sans-serif;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.footer-wrapper {
  background: linear-gradient(to right, rgb(146, 199, 255), rgb(196, 113, 241));
  height: 80px;
  position: relative;
  border-top: 3px solid #084fc7;
}

.footer-text {
  font-family: "Grenze", sans-serif;
  font-size: 1.3rem;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/*========================= modal-styles =========================*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255, 0.7);
}

.modal-content {
  background: linear-gradient(to right, rgb(146, 199, 255), rgb(196, 113, 241));
  margin: 20% auto;
  padding: 5rem;
  width: 30%;
  border: 3px solid #084fc7;
  position: relative;
}

.modal-close {
  font-size: 2rem;
  position: absolute;
  top: 0.1rem;
  right: 0.25rem;
  color: #fff;
}

.modal-close:hover {
  color: #084fc7;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-select {
  height: 5rem;
  background-color: #fff;
  border: 1px solid #084fc7;
  font-size: 1.3rem;
  font-family: "Grenze", serif;
  padding: 1rem;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.modal-option {
  font-family: "Oswald", serif;
}

/*========================= form-styles =========================*/

.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, rgb(146, 199, 255), rgb(196, 113, 241));
  height: 70%;
  width: 50%;
  border: 3px solid #084fc7;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputData {
  border: 1px solid #084fc7;
  margin: 0.5rem 0;
  display: block;
  width: 70%;
  padding: 0.2rem;
  padding-left: 0.4rem;
  font-family: "Oswald", sans-serif;
}

textarea {
  resize: none;
}

.create-visit-button {
  display: block;
  height: 10%;
  width: 10rem;
  background-color: #fff;
  border: 1px solid #084fc7;
  border-radius: 10px;
  font-family: "Grenze", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 auto;
  margin-top: 1rem;
}
