html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: $proxima, sans-serif;
  width: 100%;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
  width: 100%;
}
svg {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}


