<header class="header">
    <div class="header-container">
        <div class="logo-container">
            <img src="../static/img/logo.png" alt="" class="logo-pic">
        </div>
        <div class="header-button-container">
            <button class="create-button" id="openModalButton">Create appointment</button>
        </div>
    </div>
    <div class="modal" id="modal">
        <div id="modalContentId" class="modal-content">
            <span class="modal-close" id="closeModal">&times;</span>
            <select name="choose-doctor" id="chooseDoctorId" class="modal-select">
                <option value="" disabled selected class="modal-option">Select your visit</option>
                <option value="Кардиолог" id='cardiologist' data-type="cardiologist" class="modal-option">Кардиолог</option>
                <option value="Стоматолог" id='dentist' data-type="dentist" class="modal-option">Стоматолог</option>
                <option value="Терапевт" id='therapist' data-type="therapist" class="modal-option">Терапевт</option>
            </select>
        </div>
    </div>
</header>