<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="header__logo logo">
                <img src="../static/img/HelsiMe.svg" alt="" class="logo-pic">
            </a>
            <div class="header-button-container">
                <button class="ui blue button large" id="openModalButton">log In</button>
            </div>
        </div>
    </div>

</header>

<div class="ui modal" id="modal">
    <span class="modal-close" id="closeModal">&times;</span>
    <div id="modalContentId" class="modal-content">
    </div>
</div>